{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				💈Démo complète — Gestion Barbershop 2025
			</h3>
			<h3>
				Bienvenue dans la démonstration complète d'une application de gestion pour barbershop, développée en Python avec Flask.
            </h3>
            <h4>
                Cette application met en œuvre un CRUD complet (Créer, Lire, Mettre à jour, Supprimer) sur plusieurs tables essentielles à la gestion d’un salon de coiffure moderne, notamment :
            </h4>

           <h3>
               💼 Employés : gestion des coiffeurs/barbiers, leurs spécialités et disponibilités.
           </h3>

           <h3>
               👥 Clients : suivi des informations et préférences des clients.
           </h3>

           <h3>
               ✂️ Services : coupe, rasage, soins, et plus encore.
           </h3>

           <h3>
               📅 Rendez-vous : prise de rendez-vous avec historique et statut.
           </h3>

           <h4>
               Cette application est un exemple pédagogique illustrant l’interaction entre plusieurs tables relationnelles,
           </h4>
            <h4>
                des formulaires web sécurisés via WTForms, et une interface utilisateur dynamique pour une gestion fluide et intuitive d’un barbershop.
			</h4>
			<ul>
					<a href="/readme">📘 Voir le README du projet</a>

			</ul>
		</div>
	</div>
</div>
{% endblock %}
