{% extends "base.html" %}
{% block title %} Afficher EMPLOYES {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
    <p>Employés</p>
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  id_employes
						</th>
						<th class="" >
						  nom
						</th>
						<th class="" >
						  prenom
						</th>
						<th class="" >
						  telephone
						</th>
						<th class="" >
						  specialite
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_employes }}
					  </th>
					  <th class="align-middle">
						  {{ row.nom }}
					  </th>
					  <th class="align-middle">
						{{ row.prenom }}
					  </th>
					  <th class="align-middle">
						 {{ row.telephone }}
					  </th>
                      	 <th class="align-middle">
						{{ row.specialite }}
					  </th>
					  <th class="align-middle">
						  {{row.date_ins_employe|default("", True)}}
					  </th>
					  <th class="align-middle">

					  </th>
					  <th class="align-middle">

					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('employe_add_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <td>
                            <a class="btn btn-warning" href="{{ url_for('employe_update_wtf', id_employe=row.id_clients) }}" role="button">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{ url_for('employe_delete_wtf', id_employe_btn_delete_html=row.id_employes) }}" role="button">Delete</a>
                        </td>
					<tr>
						<td class="align-middle">
						</td>
						<td class="align-middle" colspan="5">
							{{ row.ClientsEmployes|default("Homme", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun employe.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
