{% extends "base.html" %}

{% block title %}Ajouter un employé{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-white mb-4">Ajouter un employé</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.nom_employe_wtf.label(class="form-label text-white") }}
            {{ form.nom_employe_wtf(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.prenom_employe_wtf.label(class="form-label text-white") }}
            {{ form.prenom_employe_wtf(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.telephone_employe_wtf.label(class="form-label text-white") }}
            {{ form.telephone_employe_wtf(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.specialite_employe_wtf.label(class="form-label text-white") }}
            {{ form.specialite_employe_wtf(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-success") }}
    </form>
</div>
{% endblock %}
