{% extends "base.html" %}

{% block content %}
  <h2>Ajouter un employé</h2>
  <form method="POST">
    {{ form_add_employe.hidden_tag() }}

    <div class="form-group">
      {{ form_add_employe.nom_employe_wtf.label }}
      {{ form_add_employe.nom_employe_wtf(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form_add_employe.prenom_employe_wtf.label }}
      {{ form_add_employe.prenom_employe_wtf(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form_add_employe.telephone_employe_wtf.label }}
      {{ form_add_employe.telephone_employe_wtf(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form_add_employe.specialite_employe_wtf.label }}
      {{ form_add_employe.specialite_employe_wtf(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
{% endblock %}
